* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container-first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
}
.main-con {
    margin-left: 10%;
    margin-right: 10%;
}

/*********************** Nav bar **************************/
.header {
    min-height: 90%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #EFF8FF;
}
nav {
    display: flex;
    padding: 1.6% 4%;
    align-items: center;
    justify-content: center;
}
.nav-bar {
    flex: 1;
    text-align: right;
}
.nav-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 18px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}
#unique {
    text-decoration: none;
    color: black;
}
.nav-bar ul li::after  {
    content: '';
    width: 0%;
    height: 3.5px;
    background-color: #3E6FF4;
    display: block;
    margin: auto;
    transition: 0.80s;
}
.nav-bar ul li:hover::after {
    width: 100%;
}
nav h1 {
    font-size: 2rem;
    color: #0E2431;
    margin-left: 1.7rem;
}

/*********************** Section - 1 **************************/
.first-main-content {
    width: 100%;
    background-color: #EFF8FF;
    padding-bottom: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* border: 2px solid black; */
}
.left-content {
    padding-top: 5%;
    padding-left: 10%;
    border: 2px solid black;
}
.left-content h1 {
    font-size: 3rem;
    line-height: 50px;
    font-weight: bolder;
    padding-bottom: 2.3%;
}
.ch {
    color: #3E6FF4;
    display: inline;
}
.head-1 {
    margin-top: -1%;
    opacity: 0.1;
}
#bl {
    color: black;
}
.btn {
    width: 11%;
    height: 2.8rem;
    margin-top: 4%;
    border-radius: 1.125rem;
    background: #3E6FF4;
    border: #3E6FF4;
    cursor: pointer;

    color: white;
    font-size: 1rem;
    text-align: center;
}
.btn:hover {
    box-shadow: 0 0 30px rgba(0,111,255,0.65);
    transition: 0.2s;
}
.social {
    margin-top: 4%;
    margin-left: -1%;
}
.social img {
    width: 3.2%;
    padding-left: 1%;
}
.pic {
    width: 20rem;
    height: auto;
    margin-top: 12%;
    margin-right: -62%;
    flex-wrap: wrap;
    position: absolute;
}

/*********************** Section - 2 **************************/
.section-2 {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;

    display: flex;
    position: none;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}
.heading-about {
    text-align: center;
    margin-top: 5%;
    color: #3E6FF4;
    /* font-family: "Poppins"; */
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.front-2_under {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    margin-left: 6.5%;
    margin-right: 9%;
    margin-bottom: 6%;
    /* border: 2px solid red; */
}
.left-content {
    flex: 1;
}
.left-content .left-img {
    width: 60%; /* Adjust the width to your needs */
    max-width: 100%; /* Make sure the image is responsive */
    height: auto;
    border-radius: 1%;
}
.right-para {
    flex: 1;
    /* max-height: auto; */
    /* border: 2px solid blue; */
}
.heading-2 {
    font-size: 2.5rem;
    line-height: 70px;
}
.description {
    color: #3b454b;
    letter-spacing: 1.5px;
    line-height: 28px;
    margin-top: 2%;
}

 /*********************** Section - 3 **************************/ 
 .section-3 {
    width: 100%;
    /* background-color: #EFF8FF; */
    height: auto;
    margin-top: 5%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading-skills {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
    font-weight: bolder;
    text-align: center;
    color: #3E6FF4;
    margin-top: 3%;
}
.main-section-3 {
    display: felx;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
}
.left-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6% !important;
    margin-bottom: 4%;
    width: 80%;
    /* border: 2px solid black; */
}
.heading-3 {
    display: flex;
    justify-content: center;
    align-self: center;
    /* text-align: center; */
    margin-left: -33%;
    font-size: 1.5rem;
    font-weight: bold;
}
#descrip {
    color: #3b454b;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-top: 2%;
}
.gallery {
    border: 2px solid black;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 5%;
    row-gap: 50px;
    column-gap: 1px;
    /* flex: 1 1 auto; */
}
.gallery img {
    /* width: 10% !important; */
    /* height: auto; */
    /* -webkit-transition: transform 0.6s ease-in-out; */
}
/* .gallery img:hover {
    transform: scale(1.35);
} */

.html{
    width: 25%;
    height:45% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2%;
}
.html img {
    width: 18%;
}
#para-1 {
    color: #28275A;
    font-size: 1.3rem;
    font-weight: bolder;
    letter-spacing: 1.5px;
    line-height: 1.5;
    padding: 5% 0 8% 0;
}
#para-1-2 {
    text-align: center;
    letter-spacing: 0.9px;
}


/*********************** front - 3 **************************/
.about  {
    position: absolute;
    flex-wrap: wrap;
    margin-top: -22%;
    margin-left: 41%;
    margin-right: 9%;
}
.about h2  {
    font-weight: bolder;
    line-height: 80px;
}
.about p  {
    color: #3b454b;
    letter-spacing: 1.2px;
    line-height: 24px;
}
.header3 {
    position: relative;
    margin-bottom: 10%;
}
.header3 h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
    font-weight: bolder;
    text-align: center;
    color: #3E6FF4;
}
.header3 h1::after {
    content: '';
    width: 0%;
    height: 4.2px;
    background-color: #3E6FF4;
    display: block;
    margin: auto;
    width: 7.9%;
    margin-top: -1.5%;
    margin-left: 46%;
}
.about2 {
    position: absolute;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 6.5%;
    margin-right: 9%;
    margin-bottom: 10%;
}
.img3 {
    margin-top: 21%;
    margin-left: 53%;
    padding-top: -9%;
    width: 42%;
    height: 20rem;
    border-radius: 3%;
}
.about2 h2  {
    font-weight: bolder;
    line-height: 80px;
}
.about2 p  {
    color: #3b454b;
    letter-spacing: 1.2px;
    line-height: 24px;
}


.i1 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i1:hover {
    -webkit-transform: scale(1.4);
}
.i2 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i2:hover {
    -webkit-transform: scale(1.3);
}
.i3 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i3:hover {
    -webkit-transform: scale(1.3);
}
.i4 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i4:hover {
    -webkit-transform: scale(1.4);
}
.i5 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i5:hover {
    -webkit-transform: scale(1.5);
}
.i6 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i6:hover {
    -webkit-transform: scale(1.5);
}
.i7 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i7:hover {
    -webkit-transform: scale(1.4);
}
.i8 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i8:hover {
    -webkit-transform: scale(1.5);
}
.i9 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i9:hover {
    -webkit-transform: scale(1.5);
}
.i10 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i10:hover {
    -webkit-transform: scale(1.4);
}
.i11 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i11:hover {
    -webkit-transform: scale(1.4);
}
.i12 {
    -webkit-transition: all 0.6s ease-in-out;
}
.i12:hover {
    -webkit-transform: scale(1.5);
}
.header4 {
    margin-bottom: 10%;
}
.header4 h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
    font-weight: bolder;
    text-align: center;
    color: #3E6FF4;
}
.header4 h1::after {
    content: '';
    width: auto;
    height: 4.1px;
    background-color: #3E6FF4;
    display: block;
    margin: auto;
    width: 7.9%;
    margin-top: -1.5%;
    margin-left: 46%;
}
.work-img {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    overflow: hidden;
    padding-top: 4%;
}
.card {
    position: relative;
    border-radius: 15px;
}
.card img {
    height: 30rem;
    width: 65rem;
    /* filter: grayscale(100%); */
    margin: 20px 0px 75px 60px;
    object-fit: cover;
    border-radius: 15px;
} 
.card img:hover {
    box-shadow: 0 0 40px #333;
}
.header5 h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
    font-weight: bolder;
    text-align: center;
    color: #3E6FF4;
}
.header5 h1::after {
    content: '';
    width: 0%;
    height: 4.2px;
    background-color: #3E6FF4;
    display: block;
    margin: auto;
    width: 7.9%;
    margin-top: -1.5%;
    margin-left: 46%;
}
.contact{
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 1%;
    padding-left: 20.5%;
    padding-right: 23%;
    justify-content: center;
    margin-bottom: 15%;
}
input , textarea {
    width: 22rem;
    height: 3.5rem;
    border-radius: 10px;
    border: 1px solid black;
    /* padding-bottom: 5%; */
    margin-bottom: 12%;
}
textarea {
    height: 10rem;
    margin-bottom: 5%;
}
input::placeholder {
    padding-left: 5%;
    font-size: 1.1rem;
    font-weight: 600;
}
.btn2 {
    width: 46%;
    height: 2.6rem;
    margin-left: 64%;
    padding-top: 3.7%;
    padding-left: 13%;
    border-radius: 0.6rem;
    background-color: #3E6FF4;
    border: none;
    color: white;
    cursor: pointer;
}
.btn2:hover {
    box-shadow: 0 0 10px rgba(0,111,255,0.65);
}
footer {
    height: 15rem;
    position: relative;
    background-color: #0E2431;
    /* background-color: black; */
}
.f-h4 {
    color: white;
    text-align: center;
    padding-top: 2%;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.09rem;
}
.fp {
    color: white;
    text-align: center;
    font-weight: 600;
}
.f-h3 {
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 0.6%;
    padding-top: 1.3%;
}
.fimg {
    position: relative;
    width: 32%;
    height: 30%;
    margin-left: 32.2%;
    margin-top: 1.4%;
}
.fb {
    position: relative;
    margin-left: 37%;
    width: 2rem;
}
.ins {
    width: 4rem;
    margin-bottom: -3.8%;
    /* border: 2px solid white; */
}
.lid {
    width: 2.1rem;
    margin-bottom: -0.6%;
}
.git {
    width: 1.6rem;
    margin-bottom: 1%;
    margin-left: 2.2%;
}