* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.container-first {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
}
.main-con {
    margin-left: 10%;
    margin-right: 10%;
}

/*********************** Nav bar **************************/
.header {
    min-height: 90%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #EFF8FF;
}
nav {
    display: flex;
    padding: 1.6% 4%;
    align-items: center;
    justify-content: center;
}
.nav-bar {
    flex: 1;
    text-align: right;
}
.nav-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 18px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
}
#unique {
    text-decoration: none;
    color: black;
}
.nav-bar ul li::after  {
    content: '';
    width: 0%;
    height: 3.5px;
    background-color: #3E6FF4;
    display: block;
    margin: auto;
    transition: 0.80s;
}
.nav-bar ul li:hover::after {
    width: 100%;
}
nav h1 {
    font-size: 2rem;
    color: rgba(21, 20, 20, 0.837);
    margin-left: 1.7rem;
}

/*********************** Section - 1 **************************/
.first-main-content {
    width: 100%;
    background-color: #EFF8FF;
    padding-bottom: 7%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /* border: 2px solid black; */
}
.head-1 {
    margin-top: -1.2%;
    opacity: 0.1;
    border: 0.8px solid black;
    width: 100%;
}
.left-content {
    padding-top: 5%;
    padding-left: 10%;
    /* border: 2px solid black; */
}
.left-content h1 {
    font-size: 3rem;
    line-height: 60px;
    font-weight: bolder;
    padding-bottom: 1%;
    color: rgba(21, 20, 20, 0.837);
}
.ch {
    display: inline;
}
#bl {
    color: #3E6FF4;
}
.group-btn {
    border: 2px solid black;
    margin-top: 3.5%;
}
.btn {
    width: 10%;
    height: 3rem;
    margin-top: 7%;
    margin-left: 0.5%;
    border-radius: 10px;
    background: #3E6FF4;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    text-align: center;
}
.btn:hover {
    box-shadow: 0 0 30px rgba(0,111,255,0.65);
    transition: 0.2s;
}
.social {
    margin-top: 4%;
    margin-left: -1%;
    /* border: 2px solid black; */
}
.social img {
    width: 3%;
    padding-left: 1%;
    cursor: pointer;
    background: none;
}
.pic {
    width: 20rem;
    margin-top:5%;
    margin-right: -62%;
    flex-wrap: wrap;
    position: absolute;
}

/*********************** Section - 2 **************************/
.section-2 {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    position: none;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}
.heading-about {
    text-align: center;
    margin-top: 5%;
    color: #3E6FF4;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
}
.front-2_under {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
    margin-left: 6.5%;
    margin-right: 9%;
    margin-bottom: 6%;
    /* border: 2px solid red; */
}
.left-content {
    flex: 1;
}
.left-content .left-img {
    width: 60%; 
    max-width: 100%;
    height: auto;
    border-radius: 1%;
}
.right-para {
    flex: 1;
}
.heading-2 {
    font-size: 2.5rem;
    line-height: 70px;
}
.description {
    color: #3b454b;
    letter-spacing: 1.5px;
    line-height: 28px;
    margin-top: 2%;
}

 /*********************** Section - 3 **************************/ 
 .section-3 {
    width: 100vh;
    height: 20rem;
    margin-top: 5%;
    flex-wrap: wrap;
    border: 2px solid black;
}
.bx-1 {

}